In [40]:
import pandas as pd
import numpy as np
import random
import string
import math

In [41]:
df = pd.read_csv('../Y2015-T3Y2023.csv')

#DimTable Read
df_Airport_Ref = pd.read_excel('20230409-AirportInfo(2015-2022)-UniPage.xlsx')
df_Airport_Vietnam = pd.read_excel('20230410-AirportInVietnam.xlsx')
df_Airline_Ref = pd.read_excel('IATA_Airline_Info(2017-2022).xlsx')
df_Revenue_Report = pd.read_excel('DT theo CN (R).xlsx')

C:\Users\duyta\AppData\Local\Temp\ipykernel_10096\13461003.py:1: DtypeWarning: Columns (8,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('G:/OneDrive - Airports Corporation of Vietnam - ACV/Work Data/WORK_DATA/SMIS/Y2015-T3Y2023.csv')

In [42]:
df['FlightDate'] = pd.to_datetime(df['FlightDate'])

In [43]:
#Time duration condition
df = df[df['FlightDate'] <= '2022-12-31']

In [44]:
df.shape

(4205696, 18)

In [45]:
df = df[~((df['Airline'] == '**') | (df['Airline'] == '##'))]
df = df[df['Route'].str.len() == 7]

In [46]:
remove_n = math.floor(0.1*df.shape[0])
drop_indices = np.random.choice(df.index, remove_n, replace=False)
df = df.drop(drop_indices).reset_index(drop = True)

In [47]:
df.shape

(3765431, 18)

### <span style = "color:red">**Random Airports** </span>

In [48]:
# set1 = set(df['Route'].str[:3])
# set2 = set(df['Route'].str[4:])
# AirportList = list(set(set1) | set(set2))

AirportList = list(df_Airport_Ref['Airport Code'].unique())

In [49]:
df['Origin'] = df['Route'].str[:3]
df['Destination'] = df['Route'].str[4:]

In [50]:
dct = {}
for p in AirportList:
    x = ''.join(random.SystemRandom().choice(string.ascii_uppercase) for _ in range(3)) #change the number for the following result
    dct[p] = x

In [51]:
df['Origin'] = df['Origin'].map(dct)
df['Destination'] = df['Destination'].map(dct)
df['BaseStation'] = df['BaseStation'].map(dct)

df['Route'] = df['Origin']  + '-' + df['Destination']
#DimTable Change
df_Airport_Ref['Airport Code'] = df_Airport_Ref['Airport Code'].map(dct)
df_Airport_Vietnam['Airport_Code'] = df_Airport_Vietnam['Airport_Code'].map(dct)
df_Revenue_Report['CHK'] = df_Revenue_Report['CHK'].map(dct)

In [52]:
df_Airport_Vietnam

   Airport_Code  Country
0           IKM  Vietnam
1           XBC  Vietnam
2           HNN  Vietnam
3           USR  Vietnam
4           YVF  Vietnam
5           AYR  Vietnam
6           VAU  Vietnam
7           OWP  Vietnam
8           UYK  Vietnam
9           AAH  Vietnam
10          QRO  Vietnam
11          WLV  Vietnam
12          OYV  Vietnam
13          SBZ  Vietnam
14          JKB  Vietnam
15          FSW  Vietnam
16          MTT  Vietnam
17          BDK  Vietnam
18          DVA  Vietnam
19          XWQ  Vietnam
20          PZA  Vietnam

### <span style = "color:red">**Random Airline** </span>

In [53]:
# AirlineList = list(df['Airline'].unique())


AirlineList = list(df_Airline_Ref['Airline Code'].unique())

In [54]:
dct2 = {}
for p in AirlineList:
    x = ''.join(random.SystemRandom().choice(string.ascii_uppercase) for _ in range(2)) 
    dct2[p] = x

In [55]:
df_Airline_Ref['Airline Code'] = df_Airline_Ref['Airline Code'].map(dct2)

In [56]:
df['Airline'] = df['Airline'].map(dct2)

In [57]:
df['Num'] = df['FlightNo'].str[2:]

In [58]:
FlightNumList = list(df['Num'].unique())

In [59]:
dct3 = {}
for p in FlightNumList:
    numchar = str(p)
    x = ''.join(random.SystemRandom().choice(string.digits) for _ in range(len(numchar))) 
    dct3[p] = x

In [60]:
df['Num'] = df['Num'].map(dct3)

In [61]:
df['FlightNo'] = df['Airline'] + df['Num']

In [62]:
df.drop(['Num', 'Origin', 'Destination'], axis = 1, inplace = True)
df

,FlightDate,FlightNo,ACType,Route,CgoKgs,TotalPax,BaseStation,BagPcs,ScheduledTime,FlightType,Airline,domint,Capacity,INF,CHD,ADL,ArrDep,C
0,2015-01-01,JI770,A320,YVF-AAH,0,185,AAH,26,0755,PAX,JI,True,180.0,9,18,158,A,0
1,2015-01-01,JI237,A320,AAH-YVF,0,146,AAH,10,0825,PAX,JI,True,180.0,4,19,123,D,0
2,2015-01-01,UV251,A320,YVF-AAH,654,176,AAH,51,1620,PAX,UV,True,180.0,5,16,155,A,0
3,2015-01-01,UV277,A320,AAH-YVF,3713,152,AAH,32,1340,PAX,UV,True,180.0,6,23,123,D,0
4,2015-01-01,UV340,A320,USR-AAH,3713,171,AAH,57,1305,PAX,UV,True,180.0,2,10,159,A,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3765426,2022-12-31,HS2652,A321,UYK-USR,0,132,UYK,58,0845,PAX,HS,True,220.0,3,13,116,D,0
3765427,2022-12-31,WV6588,AT72,DVA-YVF,0,57,DVA,27,0705,PAX,WV,True,78.0,1,2,54,D,0
3765428,2022-12-31,WV8206,AT72,YVF-DVA,0,48,DVA,14,0645,PAX,WV,True,78.0,0,4,44,A,0
3765429,2022-12-31,NR2476,ERJ-190,USR-DVA,122,76,DVA,23,0955,PAX,NR,True,114.0,1,8,67,A,1
3765430,2022-12-31,NR8488,ERJ-190,DVA-USR,350,69,DVA,46,1025,PAX,NR,True,114.0,1,2,66,D,2

In [63]:
import os
isExist = os.path.exists('ProjectData')
if not isExist:
    os.mkdir('ProjectData')

In [64]:
df.to_csv('ProjectData/FactTable(F).csv', index = False)
df_Airport_Vietnam.to_excel('ProjectData/AirportVietnam(F).xlsx', index = False)
df_Airport_Ref.to_excel('ProjectData/AirportInfo(F).xlsx', index = False)
df_Revenue_Report.to_excel('ProjectData/Revenue_Data(F).xlsx', index = False)

In [65]:
df_Airline_Ref.to_excel('ProjectData/AirlineInfo(F).xlsx', index = False)

### Others

In [66]:
df = pd.read_csv('ProjectData/FactTable(F).csv')

In [67]:
df['FlightDate'] = pd.to_datetime(df['FlightDate'])

In [68]:
df.head()

,FlightDate,FlightNo,ACType,Route,CgoKgs,TotalPax,BaseStation,BagPcs,ScheduledTime,FlightType,Airline,domint,Capacity,INF,CHD,ADL,ArrDep,C
0,2015-01-01,JI770,A320,YVF-AAH,0,185,AAH,26,0755,PAX,JI,True,180.0,9,18,158,A,0
1,2015-01-01,JI237,A320,AAH-YVF,0,146,AAH,10,0825,PAX,JI,True,180.0,4,19,123,D,0
2,2015-01-01,UV251,A320,YVF-AAH,654,176,AAH,51,1620,PAX,UV,True,180.0,5,16,155,A,0
3,2015-01-01,UV277,A320,AAH-YVF,3713,152,AAH,32,1340,PAX,UV,True,180.0,6,23,123,D,0
4,2015-01-01,UV340,A320,USR-AAH,3713,171,AAH,57,1305,PAX,UV,True,180.0,2,10,159,A,0

In [69]:
df['Year'] = pd.DatetimeIndex(df['FlightDate']).year

In [70]:
df = df[df['Year'] <=2022]

In [ ]:
df.groupby(by = ['BaseStation', 'Year']).agg({'BaseStation':'count', 'TotalPax':'sum'}).to_excel('ProjectData/Overall.xlsx')