In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
%config completer.use_jedi = False

In [5]:
os.chdir('..\..\ProjectData\RevenueReportData\DT theo CN (uncleaned)')

In [7]:
year = input('Please type in a year: ')
fileName = f'DT theo CN {year}'
df = pd.read_excel(f'{fileName}.xls')

In [8]:
df.loc[5].ffill(inplace = True)

In [9]:
df.drop(np.arange(5), axis = 0, inplace = True)

In [10]:
df.drop(['Unnamed: 1'], axis=1, inplace=True)

In [11]:
df.rename(columns=df.iloc[0], inplace = True)

In [12]:
df.drop(df.head(1).index, inplace = True)

In [13]:
newColumnName = []
for n in df.columns[1:]:
    a = n + ' KH'
    if a not in newColumnName:
        newColumnName.append(a)
    else:
        a = n + ' TH'
        newColumnName.append(a)
newColumnName.insert(0,'Chỉ tiêu')

In [14]:
df.columns = newColumnName

In [15]:
df.drop([6], inplace = True)
df.reset_index(drop = True,inplace = True)

In [16]:
df_1 = pd.melt(df, id_vars = 'Chỉ tiêu', value_vars=list(df.iloc[:,1:].columns))

In [17]:
df_1

,Chỉ tiêu,variable,value
0,NaN,Tổng cộng KH,0
1,Doanh thu bán hàng và cung cấp dịch vụ,Tổng cộng KH,NaN
2,Doanh thu bán hàng hóa,Tổng cộng KH,NaN
3,"Doanh thu bán hàng (bách hóa, lưu niệm, ăn uống)",Tổng cộng KH,32906000000
4,Doanh thu hợp tác kinh doanh,Tổng cộng KH,255272000000
...,...,...,...
2855,"Thu nhập do nhượng bán, thanh lý tài sản",Cảng hàng không Điện Biên TH,24823233
2856,Thu do vi phạm hợp đồng kinh tế,Cảng hàng không Điện Biên TH,0
2857,Thu bán hồ sơ thầu,Cảng hàng không Điện Biên TH,0
2858,Thu nhập khác,Cảng hàng không Điện Biên TH,11460515
2859,Tổng cộng:,Cảng hàng không Điện Biên TH,NaN

In [18]:
df_1[df_1['value'].isnull()]

,Chỉ tiêu,variable,value
1,Doanh thu bán hàng và cung cấp dịch vụ,Tổng cộng KH,NaN
2,Doanh thu bán hàng hóa,Tổng cộng KH,NaN
8,Doanh thu cung cấp dịch vụ,Tổng cộng KH,NaN
9,Doanh thu dịch vụ hàng không,Tổng cộng KH,NaN
10,Doanh thu dịch vụ cảng,Tổng cộng KH,NaN
...,...,...,...
2847,Doanh thu hoạt động tài chính,Cảng hàng không Điện Biên TH,NaN
2849,Lãi chênh lệch tỷ giá,Cảng hàng không Điện Biên TH,NaN
2852,Các khoản giảm trừ doanh thu,Cảng hàng không Điện Biên TH,NaN
2854,Thu nhập khác,Cảng hàng không Điện Biên TH,NaN
2859,Tổng cộng:,Cảng hàng không Điện Biên TH,NaN

In [19]:
df_1.drop(df_1[(df_1['value'].isnull() == True)].index, inplace = True)

In [20]:
df_1

,Chỉ tiêu,variable,value
0,NaN,Tổng cộng KH,0
3,"Doanh thu bán hàng (bách hóa, lưu niệm, ăn uống)",Tổng cộng KH,32906000000
4,Doanh thu hợp tác kinh doanh,Tổng cộng KH,255272000000
5,Doanh thu bán hàng miễn thuế,Tổng cộng KH,129167000000
6,Doanh thu bán nước,Tổng cộng KH,6372000000
...,...,...,...
2853,Các khoản giảm trừ doanh thu,Cảng hàng không Điện Biên TH,-261129000
2855,"Thu nhập do nhượng bán, thanh lý tài sản",Cảng hàng không Điện Biên TH,24823233
2856,Thu do vi phạm hợp đồng kinh tế,Cảng hàng không Điện Biên TH,0
2857,Thu bán hồ sơ thầu,Cảng hàng không Điện Biên TH,0
2858,Thu nhập khác,Cảng hàng không Điện Biên TH,11460515

In [21]:
df_2 = df_1['variable'].str.rsplit(' ', n = 1, expand = True)

In [22]:
df = pd.concat([df_1, df_2], axis = 1)

In [23]:
df.drop(['variable'], axis = 1, inplace = True)

In [24]:
df.columns = ['Chỉ tiêu', 'Giá trị', 'CHK', 'Loại DT']
df = df[['Chỉ tiêu', 'CHK', 'Loại DT','Giá trị']]

In [25]:
df.reset_index(inplace = True, drop=True)

In [26]:
cond = df[df['Chỉ tiêu'] == 'Doanh thu khác'].index
df['Chỉ tiêu'].loc[cond] = 'Doanh thu PHK khác'

In [27]:
df['Year'] = int(year)

In [ ]:
df.head()

In [29]:
idx_drop =  df[df['CHK'] == 'Tổng cộng'].index
df.drop(idx_drop, inplace = True)

In [ ]:
df.to_excel(f'{fileName}-cleaned.xlsx', index=None)